@{
    ViewBag.Title = "About";
}

<section class="about-section" data-target="about" id="about" style="margin-top: 45px;">
    <div class="container text-center">
        <div class="section-content">
            <div class="center-block">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom: 50px;">
                        <div class="h2 heading-light" style="padding-bottom: 20px;">What is SimplyAds?</div>
                        <p class="text-muted">
                            SimplyAds is Nigeria's first and only digital taxi-top advertising platform that displays ads in a geo-targeted and daily-parted manner. 
                            <br />
                            We help you publish the right message to the right audience at the right time and place.
                        </p>
                    </div>
                </div>

                
                <div class="col-sm-12" style="margin-bottom: 50px;">
                    <div class="h2 heading-light" style="padding-bottom: 20px;">Our Mission</div>
                    <p class="text-muted">
                        SimplyAds' Mission is to provide exceptional visibility and upside for our clients through eye level taxi-top media placements.
                    </p>
                </div>
                
                <div class="col-sm-12" style="margin-bottom: 50px;">
                    <div class="h2 heading-light" style="padding-bottom: 20px;">Innovation</div>
                    <p class="text-muted">                        
                        SimplyAds is an innovative advertising platform which gives our clients a new and exciting way to reach their audience. 
                        <br />
                        Existing stand-alone billboards are too rigid and expensive, limiting outdoor advertising to very large corporations with large marketing budgets. 
                        <br />
                        With SimplyAds you can get your own slice of outdoor advertising space in a flexible and cost-effective manner. 
                    </p>
                </div>

                <div class="col-sm-12" style="margin-bottom: 50px;">
                    <div class="h2 heading-light" style="padding-bottom: 20px;">Learn More</div>
                    <p class="text-muted">
                        We live in a city of 22 million people who are all looking for different products and services to meet their needs. With so much information thrown at each indidivdual, it can easily get lost in the noise.
                        SimplyAds is the number 1 solution to comminucate with these individuals.
                        <br />
                        The best part of our taxi-top advertising is the fact that our taxis gravitate toward the busiest areas in Lagos, which will give your message the maximum exposure.
                        <br />
                        Taxi-top advertising offers your brand a unique opportunity to show an eye-level presence all over Lagos.
                    </p>
                </div>

                <div class="col-sm-12" style="margin-bottom: 50px;">
                    <div class="h2 heading-light" style="padding-bottom: 20px;">Advantages of Taxi-Top Ads</div>
                    <p class="text-muted">
                        Illuminated messaging 24 hours a day and 7 days a week
                        <br />
                        Deliver the effective mass branding of a moving billboard
                        <br />
                        Double sided copy offers eye level visibility from either side of the street
                    </p>
                </div>

                <div class="col-sm-12" style="margin-bottom: 50px;">
                    <div class="h2 heading-light" style="padding-bottom: 20px;">How It works:</div>
                    <p class="text-muted">
                        Confirm the number of taxis and duration
                        <br />
                        Confirm creative to be shown
                        <br />
                        @*Send your advertising content to Simplyadsng@gmail.com*@
                        Upload your advertising content
                        <br />
                        Receive reports as your ads are displayed around the city
                    </p>
                </div>

                <div class="col-sm-12" style="margin-bottom: 50px;">
                    @*<div class="h2 heading-light" style="padding-bottom: 20px;">How It works:</div>*@
                    <p class="text-muted">
                        Luminance: Brightness of the screen shall be dimmed during the day and at night so drivers are not distracted by bright light, this can also be set automatically
                        <br />
                        Display: Displays shall be static images throughout the day
                        <br />
                        Content: Content is regulated by APCON, and shall not induce prolonged dwell time
                        <br />
                        Quantity of information: Limit the quantity of information to short and easy to assimilate content. The content will be regulated by APCON
                    </p>
                </div>




                <!--
                <div class="row">
                    <div class="col-sm-12">
                        <div class="h2 heading-light" style="margin-top: 30px;">Why SimplyAds?</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/Assets/img1.svg" alt="" width="80px" height="80px">

                        <div class="h3">Pay as you Go</div>
                        <p class="text-muted">
                            SimplyAds is a digital taxi-top advertising channel which plays ads in
                            a geo-targeted and daily-parted
                            manner, publishing the right message to the right audience in the right time and
                            place.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/Assets/map.svg" alt="" width="80px" height="80px">

                        <div class="h3">Location and Time based</div>
                        <p class="text-muted">
                            SimplyAds is a digital taxi-top advertising channel which plays ads in
                            a geo-targeted and daily-parted
                            manner, publishing the right message to the right audience in the right time and
                            place.
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <img src="~/Assets/img2.svg" alt="" width="80px" height="80px">

                        <div class="h3">Get more from Ads</div>
                        <p class="text-muted">
                            SimplyAds is a digital taxi-top advertising channel which plays ads in
                            a geo-targeted and daily-parted
                            manner, publishing the right message to the right audience in the right time and
                            place.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn simply-btn btn-lg js-overlay-btn">Create your Ad Campaign</button>
                    </div>
                </div>
                -->



            </div>
        </div>
    </div>
</section>